@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: "Quicksand", sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-color: #4b1a9e;
  --secondary-color: #a59cc2;
  --tertiary-color: #fcfcfc;
  --white: #ffffff;
  --black: #000;
}
h1,
h3 {
  font-family:
    Kaushan Script,
    cursive !important;
}
.menu-items {
  border-radius: 6px !important;
  gap: 0.7rem;
}
.menu-icons {
  font-size: 1.3rem;
  color: var(--primary-color);
}
.menu-link {
  font-weight: 600 !important;
  text-decoration: none !important;
  color: grey !important;
  width: fit-content;
}
.menu-items:hover {
  background-color: var(--primary-color) !important;
}
.menu-items:hover .menu-icons {
  color: var(--white) !important;
}
.menu-items:hover .menu-link {
  color: var(--white) !important;
}
