.hero-section {
  height: 100vh;
  background: linear-gradient(to bottom, #000000b2 0%, #0000005e 100%),
    url(../../../../public/assets/hero-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
